Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<7> LOC= J14;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<6> LOC= J15;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<5> LOC= K15;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<4> LOC= K14;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<3> LOC= E16;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<2> LOC= P16;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<1> LOC= E4;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<0> LOC= P4;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<11> LOC= L18;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<10> LOC= F18;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<9> LOC= D17;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<8> LOC= D16;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<7> LOC= G14;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<6> LOC= J17;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<5> LOC= H14;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<4> LOC= C17;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<3> LOC= F17;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<2> LOC= H17;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<1> LOC= C18;
Net fpga_0_LED_7SEGMENT_GPIO_IO_O_pin<0> LOC= F15;
Net fpga_0_Push_Buttons_3Bit_GPIO_IO_I_pin<2> LOC= D18;
Net fpga_0_Push_Buttons_3Bit_GPIO_IO_I_pin<1> LOC= E18;
Net fpga_0_Push_Buttons_3Bit_GPIO_IO_I_pin<0> LOC= H13;
Net fpga_0_Switches_8Bit_GPIO_IO_I_pin<7> LOC= G18;
Net fpga_0_Switches_8Bit_GPIO_IO_I_pin<6> LOC= H18;
Net fpga_0_Switches_8Bit_GPIO_IO_I_pin<5> LOC= K18;
Net fpga_0_Switches_8Bit_GPIO_IO_I_pin<4> LOC= K17;
Net fpga_0_Switches_8Bit_GPIO_IO_I_pin<3> LOC= L14;
Net fpga_0_Switches_8Bit_GPIO_IO_I_pin<2> LOC= L13;
Net fpga_0_Switches_8Bit_GPIO_IO_I_pin<1> LOC= N17;
Net fpga_0_Switches_8Bit_GPIO_IO_I_pin<0> LOC= R17;
Net fpga_0_RS232_PORT_RX_pin LOC= U6  | PULLUP;
Net fpga_0_RS232_PORT_TX_pin LOC= P9  | DRIVE = 2;
Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
Net fpga_0_clk_1_sys_clk_pin LOC= B8;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC= B18;

NET "fpga_0_Push_Buttons_3Bit_GPIO_IO_I_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "fpga_0_Push_Buttons_3Bit_GPIO_IO_I_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "fpga_0_Push_Buttons_3Bit_GPIO_IO_I_pin<2>" CLOCK_DEDICATED_ROUTE = FALSE;
